@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #343A4A;
  background-color: #ECECEC;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
